<div class="items">
  <div ngClass="title">
    <h2>Карзина</h2>
  </div>
  <div class="cards-wrapper">
    <ng-container *ngFor="let card of (basket$ | async)">
      <app-item-card [card]="card" (cardToDelete)="deleteItem($event)" (click)="navigateToItem(card)"></app-item-card>
    </ng-container>
  </div>
</div>

    <ng-container *ngIf="!!(isLogin$ | async) as isLogin; else warning">
      <div class="footer" *ngIf="(basket$ | async).length as basket">
        <button mat-button (click)="buyItems()">Купить</button>
      </div>
    </ng-container>


<ng-template #warning>
  <div class="footer">
    <span>Для покупки товаров, пожалуйста, аторизуйтесь</span>
  </div>
</ng-template>

