<div>
  <!-- <div class="display" [ngStyle]="{'background-image': 'url(' + imgCurrent + ')'}"> -->
  <div class="display">
    <img src="{{imgCurrent}}" alt="img">
  </div>
  <div *ngFor="let url of checkedUrls">
    <ng-container *ngTemplateOutlet="url ? good : bad; context: { url: url }"></ng-container>
  </div>
</div>

<ng-template #good let-url="url">
  <div class="buttonImg" (click)="selectImg(url)" [ngStyle]="{'background-image': 'url(' + url + ')'}"></div>
</ng-template>

<ng-template #bad>
  <div class="buttonImg" [ngStyle]="{'background-image': 'url(' + noImage + ')'}"></div>
</ng-template>
