<mat-card class="card">
  <mat-card-title-group>
    <mat-card-title class="text">Siaergljeahbgrkhaerghregfaekrgaiegraehrfbaebfwuaefbkauhbfkwahfbb</mat-card-title>
    <mat-card-subtitle class="text">Small</mat-card-subtitle>
    <mat-card-subtitle class="text">Small</mat-card-subtitle>
    <mat-card-subtitle class="text">Small</mat-card-subtitle>
    <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
  </mat-card-title-group>
  <!-- <mat-card-content>
    TESETSETSETWETSTET
  </mat-card-content> -->
  <mat-divider inset></mat-divider>
  <mat-card-actions align="end">
    <button mat-button>Удалить</button>
  </mat-card-actions>
</mat-card>
