<div ngClass="product">
  <div class="info">
    <ng-container
      *ngTemplateOutlet="
        (item | async) ? complete : error;
        context: { images: (item | async)?.images }
      "
    ></ng-container>
    <div ngClass="basic">
      <div class="title">{{ (item | async)?.title }}</div>
      <div class="price">{{ (item | async)?.price }} руб.</div>
      <div class="rating"><b>Рейтинг: </b>{{ (item | async)?.rating }}</div>
      <div class="buy">
        <div class="buy-wrapper">
          <button mat-mini-fab (click)="dicrimentCounter()">-</button>
          <span class="counter">{{ counter }}</span>
          <button mat-mini-fab (click)="incrimentCounter()">+</button>
        </div>
        <div class="buy-btn-wrapper">
          <button mat-raised-button color="primary" (click)="addItemInBasket()">
            Добавить в корзину
          </button>
          <button mat-raised-button color="accent" (click)="goToBasketPage()">
            Перейти в корзину
          </button>
        </div>
      </div>
    </div>
  </div>
  <div ngClass="details">
    <div class="size">
      <b>Размеры:</b><br />
      <div *ngFor="let size of (item | async)?.size" (click)="choiceSize(size)" [ngClass]="size === checkedSize ? 'checked' : ''">
        {{ size }}
      </div>
    </div>
    <div class="color">
      <b>Цвета:</b><br />
      <div *ngFor="let color of (item | async)?.color" (click)="choiceColor(color)" [ngClass]="color === checkedColor ? 'checked' : ''">
        {{ color }}
      </div>
    </div>
    <div class="description">
      <b>Описание:</b><br />
      {{ (item | async)?.description }}
    </div>
    <div class="tags">
      <b>Теги:</b><br />
      <div *ngFor="let tag of (item | async)?.tags">{{ tag }}</div>
    </div>
  </div>
</div>

<ng-template #complete let-images="images">
  <app-pictures [imgUrls]="images"></app-pictures>
</ng-template>

<ng-template #error> Error! </ng-template>
