/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}

html, body {
  height: 100%;

  app-root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
